[flake8]

exclude =
    ## Ignore the .git directory
    .git

ignore =
    ## Continuation line unaligned for hanging indent...
    E131,
    ## At least two spaces before inline comment...
    E261,
    ## Too many leading #...
    E266,
    ## Expected 2 blank lines...
    E302,
    ## Expected 2 blank lines...
    E305,
    ## Module level import not at top...
    E402,
    ## Line too long... our max length is 90 characters
    E501,
    ## Blank line at end of file...
    W391
    ## line break after binary operator
    W504
